@import "compass/css3";

.navigation {
  list-style: none;
  margin: 0; 
  
  background: #1e87f0;;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  


}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;



  }


}
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.Container {



  
}

.uk-position-relative {

margin-top: 20px;

}

.Icone1 {

margin-top: -170px;
margin-left: 60px;
font-size: 37px ;
color: white ;

}

.Cons {

margin-left: 110px;
margin-top: -40px;


}

.Models {

margin-left: 400px;
margin-top: -65px;
font-size: 37px ;
color: white ;

}

.Modelsh3 {

margin-left: 440px;
margin-top: -40px;


}

.CalendárioIcone {

margin-left: 1000px;
font-size: 37px ;
margin-top: -65px;
color: white ;


}


.BemVindo { 

 margin-top: 200px;
 padding:2;

 }
